<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar custom-1  justify-content-center">
  <span class="navbar-text">
    <h4>Don't Panic - &quot;Cyril Ramaphosa&quot;</h4>
  </span>
</nav>
<div class="container col-sm-12">
  <div style="text-align:center">
    <h1>
      {{tagline}}
    </h1>
    <h5>There is no need to panic – <span class="badge badge-success">82%</span> of COVID-19 cases are mild: patients
      only experience a <span class="badge badge-warning">slight fever</span>,
      <span class="badge badge-secondary">fatigue</span> and a <span class="badge badge-warning">cough</span>. Only
      about <span class="badge badge-success">6%</span> of patients need intensive care.
      The vast majority of people can stay at home and get better without hospital treatment.</h5>
    <img width="300" alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>

  <div class="row">
    <div class="col-md-3 mb-3">
      <button class="btn btn-outline-danger btn-lg btn-block" routerLink='/home'>Home</button>
    </div>
    <div class="col-md-3 mb-3">
      <button class="btn btn-outline-danger btn-lg btn-block" routerLink='/safety'>Safety Moments</button>
    </div>
    <div class="col-md-3 mb-3">
      <button class="btn btn-outline-danger btn-lg btn-block">Risk Assessment</button>
    </div>
    <div class="col-md-3 mb-3">
      <button class="btn btn-outline-danger btn-lg btn-block">About</button>
    </div>
  </div>
  <p></p>

  <router-outlet></router-outlet>
  <hr />
  <h1>Latest News</h1>
</div>
<div class="container">
  <div class="row">
    <div class="card text-white bg-info ml-3 mb-3" *ngFor="let item of newCollections[0]
  | paginate: {itemsPerPage: 4, currentPage: page}">
      <!-- <img src="{{item.urlToImage}}" alt="" class="card-img-top"> -->
      <div class="card-body">
        <h4 class="card-title">{{item.title}}</h4>
        <p class="card-text"></p>
        <button class="btn text-white"> <a href="{{item.url}}" style="text-decoration: none; color: #ffffff;">Read More</a></button>
      </div>
    </div>
    <div class="row justify-content-center">
      <pagination-controls (pageChange)="page = $event">

      </pagination-controls>
    </div>

  </div>
</div>