<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar custom-1  justify-content-center">
  <span class="navbar-text">
    <h4>Don't Panic - &quot;Cyril Ramaphosa&quot;</h4>
  </span>
</nav>
<div class="container col-sm-12">
  <div style="text-align:center">
    <h1>
      {{tagline}}
    </h1>
    <!-- <h5>There is no need to panic – <span class="badge badge-success">82%</span> of COVID-19 cases are mild: patients
      only experience a <span class="badge badge-warning">slight fever</span>,
      <span class="badge badge-secondary">fatigue</span> and a <span class="badge badge-warning">cough</span>. Only
      about <span class="badge badge-success">6%</span> of patients need intensive care.
      The vast majority of people can stay at home and get better without hospital treatment.</h5> -->
    <!-- <img width="300" alt="Angular Logo"
      src="assets/covid.jpg" style="margin-bottom: 30px;"> -->
  </div>

  <div class="row">
    <div class="col-md-3 mb-3">
      <button class="btn btn-outline-danger btn-lg btn-block" routerLink='/home'>Home</button>
    </div>
    <div class="col-md-3 mb-3">
      <button class="btn btn-outline-danger btn-lg btn-block" routerLink='/safety'>Safety Moments</button>
    </div>
    <div class="col-md-3 mb-3">
      <button class="btn btn-outline-danger btn-lg btn-block" routerLink='/news'>Latest News</button>
    </div>
    <div class="col-md-3 mb-3">
      <button class="btn btn-outline-danger btn-lg btn-block">About</button>
    </div>
  </div>
  <p></p>
  <router-outlet></router-outlet>
  <hr />
  <p></p>
  <p></p>
</div>
<p></p>
  <p></p>
  <div class="footer">
   <h4>Made with &hearts; by Thabo Radiopane</h4> 
  </div>