<div class="container">
  <figure class="highcharts-figure">
    <div id="container"></div>
  </figure>
  <!-- <div class="row justify-content-center">
    <h4>Last Updated - {{SAStas.LastUpdate | date}}</h4>
  </div>
  <div class="row justify-content-center">
    <div class="row">
      <div class="card bg-warning col-sm-12 mb-3 ml-4">
        <div class="card-body">
          <div class="card-title">
            <h4>Confirmed</h4>
          </div>
          <div class="card-text justify-content-center">
            <h4>{{SAStas.Confirmed}}</h4>
          </div>
        </div>
      </div>
      <div class="card bg-danger text-white ml-4 col-sm-12 mb-3">
        <div class="card-body">
          <div class="card-title">
            <h4>Active Cases</h4>
          </div>
          <div class="card-text">
            <h4>{{SAStas.Confirmed}}</h4>
          </div>
        </div>
      </div>
      <div class="card bg-dark text-white ml-4 col-sm-12 mb-3">
        <div class="card-body">
          <div class="card-title">
            <h4>Deaths</h4>
          </div>
          <div class="card-text">
            <h4>{{SAStas.Deaths}}</h4>
          </div>
        </div>
      </div>
      <div class="card bg-success text-white ml-4 col-sm-12 mb-3">
        <div class="card-body">
          <div class="card-title">
            <h4>Recovered</h4>
          </div>
          <div class="card-text">
            <h4>{{SAStas.Recovered}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Province</th>
        <th scope="col">Confirmed</th>
        <th scope="col">Deaths</th>
        <th scope="col">Recovered</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of ProvinceStats;">
        <th scope="row">{{p.id}}</th>
        <td>{{p.Name}}</td>
        <td [ngClass]="(p.Confirmed>1)?'bg-info':''">{{p.Confirmed}}</td>
        <td>{{p.Deaths}}</td>
        <td>{{p.Recovered}}</td>
      </tr>
    </tbody>
  </table>

